# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase Admin SDK private key
https://drivegenie-55a45-default-rtdb.firebaseio.com/

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Environment variables
.env
